{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container content-section w-50 py-3">
      <div class="media post-border p-20">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width: 100px">
        <div class="media-body p-l-30">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}
