{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
	<!-- ============================================================== -->
	<!-- Banner -->
	<!-- ============================================================== -->
	<div
		class="row"
		style="
			background-image: url(https://user-images.githubusercontent.com/108819425/178003467-34d5a3b3-64e9-4018-b9ac-e145b0c278f5.jpg);
			background-position: 10%;
			background-size: cover;
			background-blend-mode: darken;
			height: 250px;
			display: flex;
			align-items: center;
		"
	>
		<div class="container" style="color: white">
			<h1>Volutpat blandit aliquam etiam erat.</h1>
			<h4>
				Orci nulla pellentesque dignissim enim sit. Leo a diam sollicitudin
				tempor.
			</h4>
			<a
				href="#"
				id="banner-btn"
				class="btn active"
				style="border-radius: 20px; background-color: #141619; color: white"
				role="button"
				aria-pressed="true"
				>Discover</a
			>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Articles -->
	<!-- ============================================================== -->
	<div class="container" style="flex: 3">
		{% if messages %} {% for message in messages %}
		<div class="alert alert-{{ message.tags }} m-t-20">{{ message }}</div>
		{% endfor %} {% endif %}
		<!-- Left Menu -->
		<div class="d-flex p-t-20">
			<div class="p-20">
				<div class="col-lg p-t-10">
					<div class="d-flex justify-content-between">
					<h4 class="p-r-60">Recent Posts</h4>
					<div>
					    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
					</div>
					</div>
					{% for post in posts %}
					<a
						class="p-5 post-container"
						style="color: black"
						href="{% url 'post-detail' post.id %}"
					>
						<div class="d-flex flex-row post-border p-10">
							<img
								class="rounded-circle m-r-20"
								style="width: 80px; object-fit: cover; height: 80px"
								src="{{ post.author.profile.image.url }}"
							/>
							<div>
								<div class="d-flex align-items-baseline">
									<p class="m-r-10">{{ post.author }}</p>
									<small class="text-muted"
										>{{ post.date_posted|date:"F d, Y" }}</small
									>
								</div>
								<h4 href="{% url 'post-detail' post.id %}">{{ post.title }}</h4>
								<p
									style="
										display: -webkit-box;
										-webkit-line-clamp: 2;
										-webkit-box-orient: vertical;
										overflow: hidden;
										text-overflow: ellipsis;
									"
								>
									{{ post.content }}
								</p>
							</div>
						</div>
					</a>
					{% endfor %}
				</div>
				<br />
				<br />
				<!-- Article Navigation -->
				<div
					class="d-flex flex-row justify-content-between"
					style="align-items: baseline; border-bottom: 1px solid silver"
				>
					<h4 style="padding-right: 50px">Don't Miss</h4>
					<div>
						<a href="/#" id="post-nav" style="padding: 20px">Destinations</a>
						<a href="/#" id="post-nav" style="padding: 20px">Travel Tips</a>
						<a href="/#" id="post-nav" style="padding: 20px">Resources</a>
						<a href="/#" id="post-nav" style="padding: 20px">Ideas</a>
					</div>
				</div>
				<div id="posts-collapse" class="d-flex p-t-10 justify-content-between">
					<a class="post-container" style="color: black" href="/#">
						<div id="posts-left-resize" class="post-border">
							<img
								id="posts-left-img-resize"
								src="https://user-images.githubusercontent.com/108819425/178132228-cfd33b01-36b9-4128-9ad0-f50cf3290b71.jpg"
							/>
							<div
								class="p-20"
								style="overflow: hidden; text-overflow: ellipsis"
							>
								<h4>
									Leo vel fringilla est ullamcorper eget nulla facilisi etiam.
								</h4>
								<p id="posts-left-featured-description">
									Nunc sed blandit libero volutpat sed cras. Quam lacus
									suspendisse faucibus interdum posuere lorem. Consectetur
									adipiscing elit duis tristique sollicitudin. Enim sed faucibus
									turpis in. Vitae sapien pellentesque habitant morbi tristique
									senectus et netus et.
								</p>
								<p style="color: silver; font-size: 12px">
									John Doe on Sep 29, 2022 at 9:48 am
								</p>
							</div>
						</div>
					</a>
					<div style="width: 10px"></div>
					<div class="d-flex flex-column justify-content-between">
						{% for post in posts %}
						<a class="post-container" style="color: black" href="/#">
							<div class="d-flex flex-row post-border" style="height: 100px">
								{% if post.image %}
								<img
									src="{{post.image}}"
									style="width: 100px; object-fit: cover"
								/>
								{% else %}
								<img
									src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOk0-8jyhoYBNx7lgrE19ZA9aaQe1Kq8UGwmewdlxzy73eJSppFZ0LhE7nKSfLalZJaSo&usqp=CAU"
									style="width: 100px; object-fit: cover"
								/>
								{% endif %}
								<div
									class="p-l-20 p-r-10 p-t-10 p-b-10"
									style="text-overflow: ellipsis"
								>
									{% if post.title %}
									<h6>{{post.title}}</h6>
									{% else %}
									<h6>N/A</h6>
									{% endif %} {% if post.author and post.date_posted %}
									<p style="color: silver; font-size: 12px">
										{{post.author}} on {{post.date_posted}}
									</p>
									{% else %}
									<p style="color: silver; font-size: 12px">N/A</p>
									{% endif %}
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Right Menu -->
			<div id="posts-right-menu" class="p-10" style="flex: 2">
				<div
					class="p-20"
					style="border-left: 1px solid silver; border-bottom: 1px solid silver"
				>
					<h4>About Blog App</h4>
				</div>
				<div
					class="p-20"
					style="border-left: 1px solid silver; border-bottom: 1px solid silver"
				>
					<p>
						Quisque sit amet sagittis lacus. Aenean vel venenatis mauris,
						ultrices placerat ipsum. Pellentesque tincidunt dolor nisl, sit amet
						malesuada est mollis laoreet. Aenean interdum nisl ac tempor
						dapibus. Nam at eros mauris. Nunc sit amet enim eros.
					</p>
				</div>

				<div
					class="d-flex flex-column justify-content-between p-20"
					style="border-left: 1px solid silver; border-bottom: 1px solid silver"
				>
					<h4>Top Stories</h4>
				</div>

				<div
					class="
						d-flex
						flex-column
						justify-content-between
						p-t-20 p-l-10 p-b-20
						h-200
					"
					style="border-left: 1px solid silver"
				>
					{% for x in iterator %}
					<a class="post-container" style="color: black" href="/#">
						<div class="d-flex flex-row post-border">
							<img
								src="https://user-images.githubusercontent.com/108819425/178132228-cfd33b01-36b9-4128-9ad0-f50cf3290b71.jpg"
								style="width: 70px; object-fit: cover"
							/>
							<div
								class="p-l-20 p-r-10 p-t-10 p-b-10"
								style="text-overflow: ellipsis"
							>
								<h6>
									Leo vel fringilla est ullamcorper eget nulla facilisi etiam.
								</h6>
							</div>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- endposts -->

<!-- ============================================================== -->

{% endblock content %}
